/* My Styles */
@import url(boska.css);

html {

}

body{
    font-family: 'Boska-Variable';
    background: black; 
    justify-items: center;
    align-items: center;
    height: 100vh;
    block-size: fit-content;
    font-family: 'Boska-variable';
}

.navbar {
    font-weight: bold;
    letter-spacing: 2px;
    padding: 20px;
    color: white; 
    align-content: end;
    width: 200em;
}

#content {
    display: grid;
    grid-template-columns:  25% 25% 50%;


}

h1{
    font-family: 'Boska-Black';
    font-size: 60px;
    letter-spacing: 5px;
    padding: 20px;
    color: white; 
    align-items: center;
    justify-content: center;
}

p {
    color: white;
   padding: 1em;
   border-radius: 1em;
   width: 500px; 
   font-family: 'Boska-Medium';
   font-size: large;
   letter-spacing: 1.5px;
}

#selfie{
    height: 450px;
    width: 300px;
    border-radius: 15%;
    padding: 10px;

}

#github{
    height: 200px;
    width: 150px;
}

#codepen{
    height: 50px;
    width: 150px;

}

#figma{
    height: 10em;
    width: 10em;
}


footer{
    padding: 30px;
    height: 200px;
    width: 500px;
    
}

a{
    color: #ffffff;
    padding: 60px;
}