/* My Styles */
@import url(boska.css);


body{
    font-family: 'Boska-Variable';
    
    background: hsl(208, 100%, 73%); 
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    font-family: 'Boska-variable';
    color: #ffdb77;
    display: grid;
}

h1{
    font-family: 'Boska-Black';
    font-size: 60px;
    letter-spacing: 5px;
}

img{
    height: 200px;
    width: 300px;
}

p {
   background-color: hsl(208, 100%, 84%);
   padding: 1em;
   border-radius: 1em;
   width: 500px; 
   font-family: 'Boska-Medium';
   font-size: large;
   color: white;
   letter-spacing: 1.5px;
}

footer{
    font-weight: bold;
    letter-spacing: 2px;
    padding: 30px;
    
}

a{
    color: #ffdb77;
    padding: 80px;
}