/* My Styles */
@import url(boska.css);


body{
    background: #ffcd83; 
    
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100vh;
    font-family: 'Boska-variable';
}

img{
    height: 200px;
    width: 300px;
}

p {
   padding: 1em;
   border-radius: 1em;
   width: 500px; 
}